@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@100;300;500;700;900&family=Roboto:wght@100;300;500;700;900&display=swap');

/*
font-family: 'Exo 2', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0, 0, 0);
}

header {
    background-color: rgb(37, 37, 37);
    height: 73px;
    padding: 27px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 20px;
}

h2, h3 {    
    font-size: 20px;    
}

.logo a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

.logo span {
    color: rgb(255, 137, 0);
}

.barra li {
    padding: 5px;
    list-style: none;
    display: inline-block;
}

.barra a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    text-align: center;
}

.barra a:hover {
    color: rgb(255, 137, 0);
}

.barra a:active {
    color: rgba(255, 255, 255, 0.73);  
}

main {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/fondo-grupo-metro.png);
    background-size: cover;
    background-position: cover;
}

main a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

main .card:hover {
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    border: 7px solid rgba(255, 255, 255, 0.37);
    font-weight: 900;
    text-transform: uppercase;
    box-shadow:0cap;
}

.a1 :hover {
    color: rgb(255, 137, 0);
}

.a1:active {
    color: rgba(255, 255, 255, 0.73);  
}

.card {
    height: 480px;
    width: 320px;
    margin: 25px;
    background-color: rgba(37, 37, 37, 0.73);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    line-height: 50px;
    border: 3px solid rgba(255, 255, 255);
    border-radius: 23px;
    background-size: cover;
    background-position: center;
}

.clor {
    background-image: url(img/fondo-metroclor.jpg);
}

.sec {
    background-image: url(img/fondo-metrosec2.webp);
}

.mce {
    background-image: url(img/fondo-mce-constructora.png);
}

.m-clor {
    background-image: url(img/fondo-metroclor.jpg);
    background-size: cover;
    background-position: center;
    height: 480px;
    width: 800px;
    margin: 25px;
    background-color: rgba(37, 37, 37, 0.73);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    line-height: 50px;
    border: 3px solid rgba(255, 255, 255);
    border-radius: 23px;
}

.m-sec {
    background-image: url(img/fondo-metrosec2.webp);
    background-size: cover;
    background-position: center;
    height: 480px;
    width: 800px;
    margin: 25px;
    background-color: rgba(37, 37, 37, 0.73);
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    border: 3px solid rgba(255, 255, 255);
    border-radius: 23px;
}

.mce-c {
    background-image: url(img/fondo-mce-constructora.png);
    background-size: cover;
    background-position: center;
    height: 480px;
    width: 800px;
    margin: 25px;
    background-color: rgba(37, 37, 37, 0.73);
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    border: 3px solid rgba(255, 255, 255);
    border-radius: 23px;
}

.formulario {
    height: 640px;
    width: 800px;
    margin: 25px;
    background-color: rgba(37, 37, 37, 0.73);
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    line-height: 45px;
    border: 3px solid rgba(255, 255, 255);
    border-radius: 23px;
}

.btn {
    border-radius: 10px;
    display: inline-block;
    padding: 10px 37px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.37);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.37);
}

.btn-orange {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 137, 0);
}

.btn-orange:hover {
    color: rgb(255, 137, 0);
    background-color: rgba(255, 255, 255);
}

.btn-orange:active {
    color: rgba(255, 255, 255, 0.37);
    background-color: rgba(255, 137, 0, 0.37);
    border: 2px solid rgb(255, 255, 255);
}

input, textarea {
    border: 1px rgba(255, 255, 255, 0.37);
    outline: none;
}

.field {
    border: solid 1px rgba(255, 255, 255, 0.73);
    padding: 5px;
}

.field:focus {
    border-color: rgba(255, 136, 0);
}

.center-content {
    text-align: center;
}

.h2-gm {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.container {
    max-width: 1600px;
    margin: 0px auto;
}

.footer {
    background-color: rgb(0, 0, 0);
    padding: 37px 0px;
}

.footer-row {
    display: flex ;
    flex-wrap: wrap;
}

.footer-links {
    width: 25%;
    padding: 0px 15px;
}

.h3-gm {
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin: 25px;
    font-weight: 500;
    border-bottom: 2px solid rgb(255, 137, 0);
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    list-style: none;
    font-size: 18;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    margin-bottom: 5px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: rgba(255, 255, 255, 0.37);
    padding-left: 7px;
}

.social-links a {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(37, 37, 37, 0.37);
    margin: 0px 10px 10px 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.73);
    transition: all .5s ease;
}

.social-links a:hover {
    background-color: rgb(255, 137, 0);
}

.social-links a:active {
    background-color: rgba(255, 137, 0, 0.37);
}


@media(max-width:800px) {
    .footer-row {
        text-align: center;
    }
    .footer-links, .social-links {
        width: 100%;
        margin-bottom: 30px;
    }
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.abrir-menu, .cerrar-menu {
    display: none; 
}

@media screen and (max-width: 800px) {
    .abrir-menu, .cerrar-menu {
        display:block;
        border: 10;    
        font-size: 1.25rem;
        background-color: transparent;
    }
    .abrir-menu {
        color: rgb(255, 255, 255);
    }
    .cerrar-menu{
        color:rgb(0, 0, 0)
    }
    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        gap: 1rem;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.37);
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(37, 37, 37, 0.73);        
    }
    .nav-visible {
        opacity: 1;
        visibility: visible;
    }
    .nav-list {
        flex-direction: column;
        align-items: end;        
    }
}